@import url(http://fonts.google.apis.com/css?family=Open+Sans);


html {
  display: block;
}

.body {
  position: relative;
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  margin: 0
}

.img {
  width:100%;
}

a {
  text-decoration: none;
  color: #777;
}

p {
  line-height: 1.6em;
  text-align: justify;
  margin: 2em 0;
}

.header .text {
  position: relative;
  height: 0;
  top: -130px;
}

.header h1 {
  margin: 0;
  padding: 60px 0 40px 40px;
  font-size: 30px;
  font-weight: normal;
  font-family: sans-serif;  
  color: white;
}

.header h1.bright {
  color: white;
}

.header h1:hover { 
  color: #f92
}

.header h1::after {
  content: ' >>';
  color: #888;
}

.header h1.bright::after {
  content: ' >>';
  color: #ccc;
}

.headerimage {
  width: 100%;
  height: 23.25rem;
  position: relative;
  bottom: auto;
}

.notfirst {
  margin-top: 10px;
}

#links {
  font-family: sans-serif;
  font-size: 14pt;
  padding: 12px 0 12px 40px;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  top: 0;
}

#links a {
  display: inline-block;
  color: white;
  margin-right: 8px;
}
#link a:hover {
  color: #f09020;
}

#goto {
  float:right;
}

#goto::before {
  content: '// ';
  color: #888;
}

#description {
  color: #ccc 
} 

#description::after { 
  content: ' //';
  color: #888;
}

.horiz {
  display: block;
  position: relative;
  margin: 12px 0 20px 0px;
  color: #eee;
}
.horiz img {
  width: 600px;
}

.horiz h1 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  width: 520px;
  top: 0;
  padding: 10px 40px;
  z-index: 1;
  background:black;
  text-transform: lowercase;
}

.horiz p {
  position: absolute;
  top: 0;
  left: 600px;
  bottom: 4px;
  margin: 0;
  color: white;
  background: #222;
  padding: 12px 20px;
  right: 0;
  z-index: 1;
}

.vert {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 480px;
  margin: 12px 0 20px 40px;
  color: #222
}

.vert img {
  width: 100%;
  margin-top: 8px;
}

.vert h1 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  right: 0;
  top: 0;
  padding: 10px 0;
  z-index: 1;
  text-transform: lowercase;
}

.vert p {
  top: 0;
  bottom: 0;
  margin: 0;
  z-index: 1;
}

.compacts {
  text-align: left;
}

.compact {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 240px;
  margin: 0 0 36px 40px;
  color: #222;
  border-top: solid 2px #222;
}

.compact:hover {
  border-top: solid 2px #f92;
}

.compact h1 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  right:0;
  top:0;
  padding: 10px 0;
  z-index: 1;
  text-transform: lowercase;
}

.compact p {
  top: 0;
  bottom: 0;
  margin: 0;
  z-index: 1;
  text-align: left;
}

h1.dark {
  color:black;
}

.shaded {
  background: rgba(0, 0, 0, 0.9);

}

#navshadow {
  position: fixed;
  z-index: 10;
}

.shadow {
  display: none;
  width: 480px;
  background: rgba(0, 0, 0, 0.9);
  padding: 11px 0 12px 0;
  border:-top: solid 1px #f92;
}

.shadow a {
  display: block;
  width: 440px;
  color: #eee;
  padding: 4px 12px;
  text-transform: lowercase;
}

.shadow a:hover {
  color: #f92 ;
}
